.checkoutProduct {
  display: flex;
  margin: 30px;
}

img.checkoutProduct__image {
  object-fit: contain;
  width: 180px;
  margin-right: 30px;
}

.checkout__info {
  
  padding-left: 30px;
 
}

.checkoutProduct__rating {
  display: flex;
}

.checkoutProduct__title {
  font-size: 17px;
  font-weight: 600;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
  border-color: #a88734 #9c7e31 #846a29;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}